*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* ======COMMON============ */
a {
    text-decoration: none;
}

.btn {
    --height: 58px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 150px;
    height: var(--height);
    background: var(--primary-color);

    border-radius: 8px;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.section__desc--first {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #696d77;
    font-weight: 400;
}

.section__desc--first::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

/* ===========HEADER========= */
.header {
    padding: 42px 0 0 12px;
}

.header-fixed {
    position: sticky;
    top: -30px;
    left: 0;
    z-index: 8;
}

.header-inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    margin-left: 46px;
}

.header-actions {
    margin-left: auto;
}

.navbar__link {
    display: block;
    padding: 8px 24px;
    color: #696d76;
    text-align: center;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover {
    font-weight: 600;
    /* text-shadow: 1px 0 0; */
}

.navbar__link::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 24px;
    display: inline-block;
    width: 47px;
    height: 1.5px;
    background-color: var(--primary-color);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__cta-link {
    color: #212832;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header__cta-button {
    min-width: 113px;
    --height: 52px;
    background: black;
}

/* ============Hero================ */
.hero {
    margin-top: 64px;
}

.hero-inner {
    align-items: center;
}

.hero-info__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}

.hero-info__highlight {
    color: var(--primary-color);
}

.hero-info__desc {
    margin-top: 20px;
}

.hero__form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero__form__input {
    width: 540px;
    padding: 23px 10px 23px 23px;
    border-radius: 8px;
    border: 1.5px solid transparent;
    outline: none;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form__input:focus {
    border-color: var(--primary-color);
}

.hero__btn-submit {
    position: absolute;
    right: 8px;
    border: none;
    outline: none;
}

.hero-info__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero-media {
    position: relative;
}

.hero-media__decor {
    position: absolute;
}

.hero-media__decor:nth-child(1) {
    top: 113px;
    left: -100px;
    width: 174px;
    height: 46px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-media__decor:nth-child(1) .hero__decor__row,
.hero-media__decor:nth-child(2) .hero__decor__row,
.hero-media__decor:nth-child(3) {
    display: flex;
    align-items: center;
}

.hero-media__decor:nth-child(1) .hero__decor__row {
    justify-content: space-between;
}

.hero-media__decor:nth-child(1) .hero__decor__text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-media__decor:nth-child(1) .hero__decor__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-media__decor:nth-child(2) {
    bottom: 61px;
    right: 75px;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero-media__decor:nth-child(2) .hero__decor__row {
    gap: 11px;
}

.hero-media__decor:nth-child(2) .hero__decor__text {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
}

.hero-media__decor:nth-child(2) .hero__decor__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-media__decor:nth-child(3) {
    top: 120px;
    right: 0;

    flex-direction: column;
    justify-content: center;

    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__decor__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-media__decor:nth-child(3) .hero__decor__text {
    margin-top: 5px;
    color: #fff;
    font-weight: 400;
}

/* ==========WORKS========= */
.works {
    margin-top: 80px;
    padding: 80px 0;
}

.works-inner {
    align-items: center;
}

.work-media {
    position: relative;
}

.work__wrapper-image {
    position: relative;
}

.work__image {
    position: relative;
    width: 456px;
    height: 619px;
    object-fit: cover;
    z-index: 1;
}

.work__wrapper-image::after {
    content: url(../img/work-bgc-img.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 470px;
    height: 550px;
}

.work__icon {
    position: absolute;
    top: 76px;
    right: 162px;
}

.work__notify {
    position: absolute;
    right: 0;
    bottom: 96px;
    z-index: 2;
}

.work__notify__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__notify__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__notify__desc {
    margin-top: 5px;
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}

.work-content__heading {
    margin-top: 12px;
}

.work-list {
    margin-top: 70px;
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
    margin-bottom: 16px;
}

.work-item__desc {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ===========FEATURES============ */
.features {
    padding: 80px 0;
}

.features-inner {
    align-items: center;
}

.features__heading {
    margin-top: 12px;
}

.features-content__desc {
    margin-top: 20px;
}

.features-list {
    margin-top: 28px;
}

.features-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 18px;
}

.features-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.features-item__desc {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
}

.features__cta {
    margin-top: 38px;
    background-color: #212832;
}

.features-media {
    position: relative;
}

.features-media__decor {
    position: absolute;
}

.features-media__decor:nth-child(1) {
    top: -48px;
    right: 0;
}

.features-media__decor:nth-child(2) {
    bottom: -88px;
    right: 0;
}

.features__decor__wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 276px;
    height: 86px;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.features__decor__column {
    flex: 1;
}

.features__decor__row {
    display: flex;
    justify-content: space-between;
}

.features__decor__desc {
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
}

.features__sale-off {
    color: #212832;
    font-family: Inter;
    font-weight: 400;
}

.features__decor__row--bottom {
    margin-top: 4px;
}

.features__decor__row--bottom .features__decor__desc {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
}

.features__decor__time {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.features-media__decor:nth-child(2) .features__decor__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.features-media__decor:nth-child(2) .features__decor__title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.features-media__decor:nth-child(2) .features__decor__price {
    margin-top: -8px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* =======FEATURES-2 */
.features-2 {
    padding: 80px 0;
}

.features-2-inner {
    align-items: center;
}

.features-2-media {
    position: relative;
}

.features-2__wrapper-image {
    position: relative;
}

.features-2__image {
    position: relative;
    z-index: 1;
    width: 413px;
    margin-left: 30px;
}

.features-2__wrapper-image::after {
    content: url(../img/features-bgc-img.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}

.features-2__card {
    position: absolute;
    bottom: 57px;
    right: 26px;
    width: 281px;
    height: 220px;
    padding: 28px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
}

.features-2__card__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.features-2__methods {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.features-2__method-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 63px;
    height: 48px;
    border-radius: 8px;
    background-color: #f2f2fa;
}

.features-2__method-item--more {
    background-color: #f9ea63;
}

/* ==========REVIEWS============= */
.review {
    padding: 80px 0;
}

.review-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review__heading {
    margin: 12px 0 18px;
}

.review__desc {
    max-width: 435px;
    font-size: 1.6rem;
}

.review-list {
    flex-wrap: nowrap;
    margin-top: 70px;
    overflow: hidden;
}

.review-item:hover .review__blockquote {
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review-item:hover .review__blockquote::after {
    border-color: transparent;
}

.review__blockquote {
    position: relative;
    background-color: #fff;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 10px;
    transition: ease 0.5s;
}

.review__blockquote::after {
    position: absolute;
    content: "";
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background-color: white;
    rotate: 45deg;
    border: 1px solid;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
    transition: ease 0.5s;
}

.review__quote {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 154.545% */
}

.review-item__info {
    margin-top: 90px;
    text-align: center;
}

.review-item__wrapper-avt {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin: 0 auto;
}

.review-item__avt {
    width: 100%;
    border-radius: inherit;
}

.review-item__name {
    display: inline-block;
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.review-item__job {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.review-control {
    width: 90px;
    margin: 38px auto 0;
    display: flex;
    gap: 12px;
}

.review-control__mark {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.review-control__mark--active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
